/*//META{"name":"Auto-hiding horizontal guild list and chat sidebar","description":"<b>Requires Gibbu's Horizontal Serverlist theme.</b> Hides the server list from view and flips the display of the guild channels sidebar so the scrollbar is to the left, and unread pips are within view of the exposed portion used for expanding either once hovered. PLay with animation and delay by modifying the theme.","author":"Hebgbs","version":"1.0"}*//**/

/* ### Remove meta if using as custom CSS or with BetterCustomCSS. ### */

/* ###############################################
   # Guild bar and sidebar hiding script for use #
   #  with Gibbu's Horizontal Serverlist theme.  #
   ############################################### */

/* === Variable settings === */
/* Settings for reveal animation duration and hiding
   delay, partly a lazy fix for sidebar issues. */
:root {
    --revealDur: 0.2s;
    --hideDelay: 1s;
}
/* ### Nothing else past this line needs to be touch. ### */

/* === Guild bar === */
/* Flip unread pill */
.pill-2uzAFe,
.pill-31IEus,
.pill-1m5BUr{
    transform: scaley(-1);
}
/* Position pill on guild bar state */
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) .pill-2uzAFe,
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) .pill-31IEus,
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) .pill-1m5BUr {
    margin-top: 1px;
}
.wrapper-1Rf91z.guilds-1SWlCJ:hover .pill-2uzAFe,
.wrapper-1Rf91z.guilds-1SWlCJ:hover .pill-31IEus,
.wrapper-1Rf91z.guilds-1SWlCJ:hover .pill-1m5BUr {
    margin-top: 50px;
}
/* Scale on guild bar state */
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) {
    height: 5px !important;
}
.wrapper-1Rf91z.guilds-1SWlCJ:hover {
    height: 54px !important;
}
/* === Autohide for channel list === */
/* Make sidebar independent */
.sidebar-2K8pFh {
    position: absolute;
    height: 100%;
    z-index: 101;
}
/* Flip guild channel scroller */
/* A / N: This puts the channel unread pills to the
          right for end-users to see unread posts. */
.sidebar-2K8pFh .scroller-2wx7Hm,
    /* & all elements therein */
.sidebar-2K8pFh .content-3at_AU,
.sidebar-2K8pFh .containerDefault-3GGEv_ {
    transform: scalex(-1);
}
/* Position on sidebar state */
.sidebar-2K8pFh:not(:hover) {
    left: -235px;
}
.sidebar-2K8pFh:hover {
    left: 0px !important;
}

/* === Animate hidden elements === */
.sidebar-2K8pFh,
.pill-2uzAFe,
.pill-31IEus,
.pill-1m5BUr,
.wrapper-1Rf91z.guilds-1SWlCJ {
    transition: ease var(--revealDur);
}
/* Lazy fix for sidebar */
.sidebar-2K8pFh:not(:hover),
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover),
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) .pill-2uzAFe,
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) .pill-31IEus,
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) .pill-1m5BUr {
    transition-delay: var(--hideDelay);
}
/* ### EOF ### */
