/*//META{"name":"Auto-hiding horizontal guild list and chat sidebar","description":"Requires Gibbu's Horizontal Serverlist theme.Hides the server list from view and flips the display of the guild channels sidebar so the scrollbar is to the left, and unread pips are within view of the exposed portion used for expanding either once hovered. Play with animation and delay by modifying the theme.","author":"Hebgbs","version":"1.4"}*//**/

/* ####################################################
   #   Guild bar and sidebar hiding script, for use   #
   #     with Gibbu's Horizontal Serverlist theme     #
   ####################################################

              /* === Code Imports === */
/* Code for horizontal serverlist by Gibbu */
/*@import url("https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/horizontalBase.css");*/
/* Code for autohide guild bar and serverlist by Hebgbs */
@Import url("https://gitcdn.xyz/repo/Hebgbs/Hebgbs.github.io/BetterDiscord-Personal/imports/autohide_hServerlist_and_chatSidebar.css");

         /* === Variable configuration ===
   Settings for reveal animation duration and hiding
   delay. Copy root into your custom CSS to change. */
:root {
    /* Define Animation timing: See N1 */
    --animate_duration: 0.2s;
    --animate_delay: 0s; /* See N2 */
    /* Define size on state: See N1 */
    --sidebar_size: 240px;
    --guildbar_size: 55px;
    --autohide_size: 5px;
    /* Define value to sum with default: See N3 */
    --guildpill_adjust: 0px; /* See N4 */
    --sidebar_padfix: 0px; /* See N5 */
    /* Preferences specific to Horizontal Serverlist */
    --HSL-size: 35px;
    --HSL-spacing: 10px;
    --HSL-roundness: 50%;
    --HSL-roundnessHover: 20%;
} /*
                === Variable notes ===
N1: Absolute definition; What you set is what you get.
N2: If use causes disorientation, define this. Once
    cursor is away, element is temporarily visible.
N3: Relative definition for sum of [x] + default;
    Define [x] to set total rather than absolute.
N4: Change if theme makes unread pill hard to see.
N5: Change if voiceuser or "+" symbol is not where it
    should be compared to defintion in theme.
  #####################################################
  #            Additional notes above EOF             #
  # Use DevilBro's ServerFolders? See N9 (above EOF)! #
  #####################################################
*/

/*
                  === Code notes ===
For notes 6-8, see CSS via its import URL!
N9: It's kind of hacky. Then again, what isn't with
    BetterDiscord? Optimal settings with this code:
    -o Close other Folders when selecting a Folder
    o- Close the Folder when selecting a Server
    -o Close All Folders when selecting a Server
    o- Force a Folder to open when switching to...
    o- Display Badge for Amount of Servers in a Folder
    o- Adds separators between Servers of different...
    
Authored by Brandon "Hebgbs" Bachman *//* ### EOF ### */
