/* How to use;
   0. Don't want to use DubX? See this; https://userstyles.org/styles/119287
   1. Install DubX via dubx.net and execute it
   2. Access the DubX menu and click on "Custom CSS"
   3. Copy the address of this file into the dialog box input
   
   This style sheet is inspired more-or-less from the old plug.dj theme.
   Most of the basic styling elements and colour language from it has been
   transferred to this theme for DubTrack.
   
   version 0.97 (10/11/15)
*/

.search-results DIV .result-item:not(:hover) SPAN,
.chatSound.mute,
#main-menu-left A:not(.close-menu):not(:hover),
.chatDelete:not(:hover),
.playlist-style DIV:not(:hover),
.content-videos .img_bg:not(:hover){
  opacity: 0.75 !Important;
}

.loading,
.playerPreview .buttons,
.playerPreview .controlContainer:after,
.search-results DIV .result-item:hover SPAN,
#main-loading,
#main-menu-left A:hover,
#chat .room-user-counter,
.system,
.chatDelete:hover,
.loadRoomAva DIV,
#avatar A SPAN,
#browser .close,
.playlist-style .delete:hover,
.content-videos LI,
#playlists-scroll LI,
.playlist-style DIV:hover,
.content-videos .img_bg:hover{
  opacity: 1 !Important;
}

.modal-header{
  font-family: bebas-neue, Arial, Helvetica, sans-serif !important;
  font-size: 18pt !Important;
  padding-top: 17px !Important;
  padding-left: 12px !important;
  padding-bottom: 1px !Important;
}

.chat-welcome-message{
  text-align: center !Important;
}

INPUT#d3vs-playlist-import-btn{
  font-size: 12px !Important;
}

#main_player .loading,
.autolink{
  font-weight: normal !important;
}

.icon-camera,
.username,
#user_popover H3,
.mod:after,
.message-item H3,
.message-header A{
  color: rgb(92, 135, 179) !Important;
}

.modal-header H3,
#roomFormUpdate LABEL,
.chat-welcome-message,
.search-results DIV .result-item,
.search-results H3,
#main-menu-left A,
.username-handle,
#user_popover HEADER A,
.loadRoomAva,
.creator:after,
.message-item.new-message H3,
.sidebar .title,
.content-videos LI:hover .preview,
.content-videos .img_bg,
#chat LI.user-560354e8e863210300468f71 .autolink,
#chat LI.user-5600dd6e2e803803000fed3e .autolink{
  color: rgb(180, 201, 222) !important;
}
.content-videos LI:not(:hover) .preview{
  color: rgba(180, 201, 222, 0.75) !important;
}

TIME,
.currentDJ:after,
.vip:after{
  color: rgb(74, 108, 143) !Important;
}

.chat-system-loading,
.comment-dub .icon-arrow-up:hover,
.comment-dub .icon-arrow-up.dubvoted{
  color: rgb(50, 60, 83) !Important;
}

.autolink{
  color: rgb(0, 155, 255) !Important;
}

.player_sharing SPAN{
  color: rgba(134, 148, 178, 0.30) !Important;
}

.player_sharing .icon-facebook:hover{
  color: rgb(59, 87, 157) !Important;
}

.player_sharing .icon-twitter:hover{
  color: rgb(28, 173, 235) !Important;
}

.icon-close,
.icon-flag,
.comment-dub A:hover,
.comment-dub .icon-arrow-down.dubvoted,
.comment-dub .icon-arrow-down:hover,
.system,
#roomFormUpdate .closebtn:hover,
#roomFormUpdate BUTTON.cancel:hover,
.chat-system-loading.system-error,
.browser-content-header .close SPAN,
.content-videos .clear-queue:hover,
#main-menu-left A.logout-link,
HEADER .logout:hover SPAN,
.content-videos .img_bg.remove_icon:hover,
.playlist-style .delete:hover{
  color: rgb(255, 45, 49) !important;
}

.admin:after{
  color: rgb(0, 255, 255) !important;
}

#main-loading,
.loading,
.comment-dub,
.comment-dub A,
.closebtn,
#roomInfoModal .control-group,
BUTTON,
I:not(.icon-arrow-down2),
INPUT,
#browser INPUT.placeholder,
.chatSound,
P,
#user_popover .global-actions A,
#player-controller SPAN:not(.queue-active),
#maindubtotal,
.content-videos LI:hover H2,
.content-videos LI:hover .playedby,
.playlist_info A,
#playlists-scroll LI:hover,
.playlist-style DIV,
.icon-play,
.icon-plus,
.browser-content-header SPAN,
.content-videos .queue-management DIV,
SPAN.room-info-display:hover,
#room-lock-queue:hover,
.content-videos .timeDisplay,
#chat LI.user-560354e8e863210300468f71 .username,
#chat LI.user-5600dd6e2e803803000fed3e .username,
#metamod-menu-list,
.tcontent,
#d3vs-playlist-import-code{
  color: rgb(238, 238, 238) !important;
}
#roomInfoModal .closebtn:not(:hover),
.content-videos LI:not(:hover) H2,
.content-videos LI:not(:hover) .playedby,
#room-lock-queue:not(:hover),
#playlists-scroll LI:not(:hover){
  color: rgba(238, 238, 238, 0.75) !important;
}

.playerPreview .tooltip{
  color: rgb(0, 0, 0) !important;
}

.ps-scrollbar-y-rail,
.playerPreview .progressContainer{
  background-color: rgb(22, 31, 49) !important;
}

#main-loading .spinner,
#roomFormUpdate,
#roomInfoModal,
.search-results,
HEADER,
HEADER H1,
.player_sharing,
#player-controller,
#chat,
#main_avatar_room,
#user_popover,
.close-menu,
.playlist_info,
#addToPlaylistFloatContainer,
.browser-content,
.containerB DIV:first-child,
.containerY DIV:first-child,
.containerB,
.containerY,
.tinner{
  background-color: rgb(30, 41, 66) !important;
}

.loading,
.playerPreview .replay,
#main-menu-left,
#main-menu-right,
A.close-menu,
.content-videos LI,
.isSwordful{
  background-color: rgba(30, 41, 66, 0.75) !important;
}

.playerPreview,
.ui-slider-range,
#mobile-room-menu,
.modal-header,
.ui-slider,
#room-lock-queue:hover,
.playlist-list-action LI:hover,
#playlists-scroll LI:hover,
.content-videos .clear-queue:hover,
#chat .user-560354e8e863210300468f71,
#chat .user-5600dd6e2e803803000fed3e{
  background-color: rgb(29, 69, 110) !important;
}
#main-loading,
.content-videos LI:hover{
  background-color: rgba(29, 69, 110, 0.75) !important;
}
.playerPreview .controlContainer:after{
  background-color: rgba(29, 69, 110, 0.50) !important;
}

.ps-scrollbar-y,
.playerPreview .loaded,
.comments-main BUTTON,
#roomFormUpdate SELECT,
#roomFormUpdate BUTTON,
HEADER BUTTON,
INPUT,
TEXTAREA,
#chat BUTTON,
#global-search,
#new-message-input,
#chat-txt-message,
#message-input,
.icon-plus,
#user_popover .global-actions A,
#player-controller .navigate:hover,
.dubup:hover,
.dubup.voted,
#playlist-input,
.playlist_filter,
.shuffle-playlist,
.content-videos .queue-management DIV,
.content-videos .timeDisplay,
#playlists-scroll LI,
#room-lock-queue,
#d3vs-playlist-import-name,
#d3vs-playlist-import-code,
#d3vs-playlist-import-btn{
  background-color: rgb(50, 60, 83) !Important;
}

.playerPreview .progress,
.playerPreview .tooltip,
.content-videos .spinner DIV,
.queue-info,
.info-counter,
.message-counter,
#chat .room-user-counter,
#avatar A SPAN,
.pusher-chat-widget-send-btn,
#user_popover .global-actions A:hover,
.display-success,
#new-messages-counter,
.ui-slider-handle,
#room-lock-queue.locked:hover,
.content-videos .pause-queue:hover,
.progressBg,
.add-to-playlist A:hover,
.search-btn,
.containerB DIV DIV,
.containerY DIV DIV{
  background-color: rgb(74, 108, 143) !Important;
}

.dubdown:hover,
.dubdown.voted,
.playlist_type_private{
  background-color: rgb(255, 45, 49) !important;
}
.loading.skip-el{
  background-color: rgba(255, 45, 49, 0.75) !important;
}

.message-item.new-message:before{
  background-color: rgb(180, 201, 222) !important;
}

.content-videos{
  background: url(https://mediadubtrackfm.s3.amazonaws.com/assets/images/backgrounds/pattern-stripes.png),
              url(https://i.imgur.com/nQu4KMz.jpg) center center/529px 434px no-repeat !important;
}

#roomFormUpdate{
  background: rgb(30, 41, 66) url(http://i.imgur.com/soBKKWr.png) center center/529px 434px no-repeat !important;
}

#roomFormUpdate INPUT,
#roomFormUpdate TEXTAREA,
#roomFormUpdate SELECT{
  background: rgb(50, 60, 83) url(http://i.imgur.com/soBKKWr.png) center center/529px 434px no-repeat !important;
}

#roomFormUpdate,
#roomFormUpdate INPUT,
#roomFormUpdate TEXTAREA,
#roomFormUpdate SELECT{
  background-attachment: fixed !Important;
}

HEADER H1 SPAN{
  background-image: url(https://i.imgur.com/Bj3cLb3.png) !important;
}

.playerPreview TEXTAREA,
#roomFormUpdate INPUT,
#roomFormUpdate TEXTAREA,
#roomFormUpdate SELECT,
#chat-txt-message,
#message-input,
.input-room-users-search INPUT,
#new-message-input,
#avatar LI.updub,
.content-videos LI,
.playlist_filter,
#playlists-scroll LI,
.sidebar INPUT,
.isSwordful .verSwordful{
  border-color: rgb(50, 60, 83) !Important;
}
#d3vs-playlist-import-name,
#d3vs-playlist-import-code{
  border: 1px solid rgb(50, 60, 83) !Important;
}

.chat_tools,
.pusher-chat-widget-input,
.ui-slider,
#user_popover,
#addToPlaylistFloatContainer,
.isSwordful .istitle{
  border-color: rgb(29, 69, 110) !important;
}

#player-controller DIV LI,
#player-controller .right,
#roomFormUpdate,
#roomInfoModal{
  border-color: rgb(29, 69, 110) !Important;
}

#main-menu-left a:not(.close-menu),
#mobile-room-menu A,
#avatar LI,
.message-list LI,
.user-messages-button{
  border-color: rgb(30, 41, 66) !Important;
}

#avatar LI.downdub{
  border-color: rgb(255, 45, 49) !important;
}

#playlist-input{
  box-shadow: inset -30px 0px 0px 0px rgb(30, 41, 66) !Important;
}
.sidebar INPUT{
  box-shadow: inset -29px 0px 0px 0px rgb(30, 41, 66) !Important;
}

.br-btn.active{
  box-shadow: inset 0px 0px 0px 1px rgb(92, 135, 179) !Important;
}

#chat-txt-message{
  box-shadow: 0px -1px 0px 0px rgb(50, 60, 83) !Important;
}
.browser-content-header INPUT,
.icon-plus{
  box-shadow: 0px 1px 0px 0px rgb(50, 60, 83) !Important;
}

#chat .user-560354e8e863210300468f71,
#chat .user-5600dd6e2e803803000fed3e{
  box-shadow: -9px 0px 0px 0px rgb(29, 69, 110),
              9px 0px 0px 0px rgb(29, 69, 110) !important;
}
.containerB,
.containerY{
  box-shadow: inset 0px 55px 0px 0px rgb(29, 69, 110),
              inset 0px -53px 0px 0px rgb(29, 69, 110) !important;
}

BUTTON:hover,
.shuffle-playlist:hover,
INPUT#d3vs-playlist-import-btn:hover{
  box-shadow: inset 0px -2px 0px 0px rgb(74, 108, 143) !Important;
}

#chat LI[style="box-shadow: -4px 0px 0px 0px rgb(255, 0, 255) inset;"]{
  box-shadow: inset -4px 0px 0px 0px rgb(74, 108, 143) !Important;
}

BUTTON{
  box-shadow: inset 0px -2px 0px 0px transparent !Important;
}

HEADER .logout BUTTON{
  border-radius: 0px 3px 3px 0px !important;
}

.playlist_info A,
#d3vs-playlist-import-div INPUT,
#d3vs-playlist-import-div TEXTAREA,
#roomFormUpdate INPUT,
#roomFormUpdate TEXTAREA,
#roomFormUpdate SELECT{
  border-radius: 3px !important;
}

.ui-slider-horizontal{
  height: 3px !Important;
  top: 2px !Important;
}

G#d3vs-playlist-import-btn{
  padding-top: 8px !Important;
  padding-bottom: 8px !Important;
}

#d3vs-playlist-import-code{
  margin-top: 8px !Important;
  margin-bottom: 8px !Important;
}

.playerPreview .ui-slider-handle{
  top: -8px !Important;
}

#player-controller .ui-slider-handle{
  top: -9px !Important;
}

#player-controller .ui-slider-horizontal{
  top: 0px !Important;
}

.comments-main BUTTON{
  position: relative !Important;
  top: 8px !Important;
  left: calc(100% - 124px) !Important;
}

.loading.hideVideo-el{
  height: 45px !Important;
  margin-top: 2px !Important;
}

FIGURE{
  border-radius: 0px !important;
}

.search-results DIV,
.playerPreview .close,
.playerPreview HEADER,
.comments-textarea-container,
.chat_tools,
.pusher-chat-widget-input,
.message-header,
.message-list-wrapper-inner,
.message-list-wrapper,
.message-details,
#main-message-list,
.loadRoomAva,
.input-container,
.input-room-users-search,
.message-list-wrapper,
.playlist-list-action LI,
.left_section,
.browser-content .sidebar,
.browser-content-header,
.isSwordful LI{
  background-color: transparent !Important;
}

.browser-content{
  background-image: none !Important;
}

.ui-slider-range{
  border-color: transparent !Important;
}
HEADER .relate,
.user-info-button,
.logout BUTTON{
  border-right-color: transparent !Important;
}

#addToPlaylistFloatContainer LI,
.playlist_info A,
.browser-content,
.isSwordful,
INPUT#d3vs-playlist-import-btn{
  border: none !important;
}

#player-controller .remove-if-banned:nth-child(4){
  border-right: none !Important;
}

.playerPreview .progressContainer{
  box-shadow: none !Important;
}

#main_player{
  padding: 0px !Important;
}

*{
  outline-style: none !Important;
}

#main_player:not(:hover) .loading,
.playerPreview:before,
#main-player:hover .loading,
.image_row:after,
#player-controller .copy,
.playlist_type_private SPAN,
.playlist-style .ps-scrollbar-y,
.playlist-style .ps-scrollbar-y-rail{
  display: none !Important;
}

/* Special requests */
.user-5601698c2d5038030094db14 .username{
  color: rgb(255, 0, 255) !important;
}
