/* How to use;
   1. Install DubX via dubx.net and execute it
   2. Access the DubX menu and click on "Custom CSS"
   3. Copy the address of this file into the dialog box input
   
   This sryle sheet is inspired more-or-less from the old plug.dj theme.
   Most of the basic styling elements and colour language from it has been
   transferred to this theme for DubTrack.
   
   version 0.85 (10/06/15)
*/

.search-results DIV .result-item:not(:hover) SPAN,
.chatSound.mute,
#main-menu-left A:not(.close-menu):not(:hover),
.chatDelete:not(:hover)
.playlist-style DIV:not(:hover),
.content-videos .img_bg:not(:hover){
  opacity: 0.75 !Important;
}

.search-results DIV .result-item:hover SPAN,
#main-loading,
.loading,
#main-menu-left A:hover,
#chat .room-user-counter,
.system,
.chatDelete:hover,
.loadRoomAva DIV,
#avatar A SPAN,
#browser .close,
#playlists-scroll LI,
.playlist-style DIV:hover,
.content-videos .img_bg:hover{
  opacity: 1 !Important;
}

.loading{
  font-weight: normal !important;
}

.icon-camera,
.username,
#user_popover H3,
.mod:after,
.message-item H3,
.message-header A{
  color: rgb(92, 135, 179) !Important;
}

.search-results DIV .result-item,
.search-results H3,
#main-menu-left A,
.username-handle,
#user_popover A,
.loadRoomAva,
.creator:after,
.message-item.new-message H3,
.sidebar .title,
.content-videos .preview,
.content-videos .img_bg,
#chat LI.user-560354e8e863210300468f71 .autolink,
#chat LI.user-5600dd6e2e803803000fed3e .autolink{
  color: rgb(180, 201, 222) !important;
}

TIME,
.currentDJ:after{
  color: rgb(74, 108, 143) !Important;
}

.chat-system-loading{
  color: rgb(50, 60, 83) !Important;
}

#chat .autolink{
  color: rgb(0, 155, 255) !Important;
}

.icon-close,
.system,
.browser-content-header .close SPAN,
#main-menu-left A.logout-link,
HEADER .logout:hover SPAN,
.playlist-item .img_bg.remove_icon:hover,
.playlist-style .delete:hover{
  color: rgb(255, 45, 49) !important;
}

#main-loading,
.loading,
HEADER BUTTON,
I:not(.icon-arrow-down2),
INPUT,
#browser INPUT.placeholder,
#chat BUTTON,
.chatSound,
P,
#player-controller SPAN:not(.queue-active),
#maindubtotal,
.playlist_info A,
#playlists-scroll LI:hover,
.playlist-style DIV,
.icon-plus,
.browser-content-header SPAN,
.content-videos .timeDisplay,
#chat LI.user-560354e8e863210300468f71 .username,
#chat LI.user-5600dd6e2e803803000fed3e .username{
  color: rgb(238, 238, 238) !important;
}
#playlists-scroll LI:not(:hover){
  color: rgba(238, 238, 238, 0.75) !important;
}

.ps-scrollbar-y-rail{
  background-color: rgb(22, 31, 49) !important;
}

.spinner,
.search-results,
HEADER,
HEADER H1,
#player-controller,
#chat,
#main_avatar_room,
#user_popover,
.close-menu,
.playlist_info,
#addToPlaylistFloatContainer,
.browser-content{
  background-color: rgb(30, 41, 66) !important;
}

.loading,
#main-menu-left,
#main-menu-right,
A.close-menu,
.isSwordful{
  background-color: rgba(30, 41, 66, 0.75) !important;
}

#mobile-room-menu,
.ui-slider,
.playlist-list-action LI:hover,
.content-videos LI,
#playlists-scroll LI:hover,
#chat .user-560354e8e863210300468f71,
#chat .user-5600dd6e2e803803000fed3e{
  background-color: rgb(29, 69, 110) !important;
}
#main-loading{
  background-color: rgba(29, 69, 110, 0.75) !important;
}

.ps-scrollbar-y,
HEADER BUTTON,
#chat BUTTON,
#global-search,
#new-message-input,
#chat-txt-message,
#message-input,
.input-room-users-search INPUT,
.sidebar INPUT,
#playlist-input,
.icon-plus,
#player-controller .navigate:hover,
.dubup:hover,
.dubup.voted,
.browser-content-header INPUT,
.playlist_filter,
.shuffle-playlist,
#playlists-scroll LI,
.content-videos .timeDisplay{
  background-color: rgb(50, 60, 83) !Important;
}

.queue-info,
.info-counter,
.message-counter,
#chat .room-user-counter,
#avatar A SPAN,
.pusher-chat-widget-send-btn,
#new-messages-counter,
.ui-slider-handle,
.progressBg,
.add-to-playlist A:hover,
.content-videos .clear-queue,
.search-btn{
  background-color: rgb(74, 108, 143) !Important;
}

.dubdown:hover,
.dubdown.voted,
.playlist_type_private{
  background-color: rgb(255, 45, 49) !important;
}
.loading.skip-el{
  background-color: rgba(255, 45, 49, 0.75) !important;
}

.message-item.new-message:before{
  background-color: rgb(180, 201, 222) !important;
}

.content-videos{
  background-image: url(https://mediadubtrackfm.s3.amazonaws.com/assets/images/backgrounds/pattern-stripes.png) !important;
}

#chat-txt-message,
#message-input,
.input-room-users-search INPUT,
#new-message-input,
#avatar LI.updub,
.playlist_filter,
#playlists-scroll LI,
.sidebar INPUT,
.isSwordful .verSwordful{
  border-color: rgb(50, 60, 83) !Important;
}

.chat_tools,
.pusher-chat-widget-input,
.ui-slider,
#user_popover,
#addToPlaylistFloatContainer,
.isSwordful .istitle{
  border-color: rgb(29, 69, 110) !important;
}

#player-controller DIV LI,
#player-controller .right{
  border-color: rgb(29, 69, 110) !Important;
}

#main-menu-left a:not(.close-menu),
#mobile-room-menu A,
#avatar LI,
.message-list LI,
.user-messages-button{
  border-color: rgb(30, 41, 66) !Important;
}

#avatar LI.downdub{
  border-color: rgb(255, 45, 49) !important;
}

#playlist-input{
  box-shadow: inset -30px 0px 0px 0px rgb(30, 41, 66) !Important;
}
.sidebar INPUT{
  box-shadow: inset -29px 0px 0px 0px rgb(30, 41, 66) !Important;
}

.br-btn.active{
  box-shadow: inset 0px 0px 0px 1px rgb(92, 135, 179) !Important;
}

#chat-txt-message{
  box-shadow: 0px -1px 0px 0px rgb(50, 60, 83) !Important;
}
.browser-content-header INPUT,
.icon-plus{
  box-shadow: 0px 1px 0px 0px rgb(50, 60, 83) !Important;
}

#chat .user-560354e8e863210300468f71,
#chat .user-5600dd6e2e803803000fed3e{
  box-shadow: -9px 0px 0px 0px rgb(29, 69, 110),
              9px 0px 0px 0px rgb(29, 69, 110) !important;
}

BUTTON:hover,
.shuffle-playlist:hover{
  box-shadow: inset 0px -2px 0px 0px rgb(74, 108, 143) !Important;
}

#chat LI[style="box-shadow: -4px 0px 0px 0px rgb(255, 0, 255) inset;"]{
  box-shadow: inset -4px 0px 0px 0px rgb(74, 108, 143) !Important;
}

BUTTON{
  box-shadow: inset 0px -2px 0px 0px transparent !Important;
}

HEADER .logout BUTTON{
  border-radius: 0px 3px 3px 0px !important;
}

#player-controller .imgEl{
  border-color: transparent !Important;
}

HEADER .relate,
.user-info-button,
.logout BUTTON{
  border-right-color: transparent !Important;
}

.playlist_info A{
  border-radius: 3px !important;
}

.search-results DIV,
.chat_tools,
.pusher-chat-widget-input,
.message-header,
.message-list-wrapper-inner,
.message-list-wrapper,
.message-details,
#main-message-list,
.loadRoomAva,
.input-container,
.input-room-users-search,
.message-list-wrapper,
.playlist-list-action LI,
.browser-content .sidebar,
.browser-content-header,
.isSwordful LI
{
  background-color: transparent !Important;
}

.browser-content{
  background-image: none !Important;
}

#addToPlaylistFloatContainer LI,
.playlist_info A,
.browser-content,
.isSwordful{
  border: none !important;
}

#player-controller .remove-if-banned:nth-child(4){
  border-right: none !Important;
}

*{
  outline-style: none !Important;
}

.image_row:after,
#player-controller .copy,
.playlist_type_private SPAN,
.playlist-style .ps-scrollbar-y,
.playlist-style .ps-scrollbar-y-rail{
  display: none !Important;
}
