/* How to use;
   1. Install DubX via dubx.net and execute it
   2. Access the DubX menu and click on "Custom CSS"
   3. Copy the address of this file into the dialog box input
   
   This sryle sheet is inspired more-or-less from the old plug.dj theme.
   Most of the basic styling elements and colour language from it has been
   transferred to this theme for DubTrack.
   
   First GitHub release, version 0.6 (09/30/15)
*/

#main-menu-left A:not(:hover),
.playlist-style DIV:not(:hover),
.content-videos .img_bg:not(:hover){
  opacity: 0.75 !Important;
}

#main-menu-left A:hover,
#chat .room-user-counter,
#avatar A SPAN,
#browser .close,
#playlists-scroll LI,
.playlist-style DIV:hover,
.content-videos .img_bg:hover{
  opacity: 1 !Important;
}

.icon-camera,
.username,
#user_popover H3,
.message-item H3,
.message-header A{
  color: rgb(92, 135, 179) !Important;
}

#main-menu-left A,
.username-handle,
#user_popover A,
.message-item.new-message H3,
.sidebar .title,
.content-videos .preview,
.content-videos .img_bg{
  color: rgb(180, 201, 222) !important;
}

.icon-close,
.browser-content-header .close SPAN,
#main-menu-left A.logout-link,
HEADER .logout:hover SPAN,
.playlist-item .img_bg.remove_icon:hover{
  color: rgb(255, 45, 49) !important;
}

HEADER BUTTON,
I,
#chat BUTTON,
P,
#player-controller SPAN,
#maindubtotal,
#playlists-scroll LI:hover,
.playlist-style DIV,
.icon-plus,
.browser-content-header SPAN,
.content-videos .timeDisplay{
  color: rgb(238, 238, 238) !important;
}
#playlists-scroll LI:not(:hover){
  color: rgba(238, 238, 238, 0.75) !important;
}

HEADER,
HEADER H1,
#player-controller,
#chat,
#main_avatar_room,
#user_popover,
.close-menu,
#addToPlaylistFloatContainer,
.browser-content{
  background-color: rgb(30, 41, 66) !important;
}
  
#main-menu-left,
#main-menu-right{
  background-color: rgba(30, 41, 66, 0.75) !important;
}

#mobile-room-menu,
.ui-slider,
#avatar .dubs,
.playlist-list-action LI:hover,
.queue-item,
.playlist-item,
#playlists-scroll LI:hover{
  background-color: rgb(29, 69, 110) !important;
}

HEADER BUTTON,
#chat BUTTON,
#global-search,
#new-message-input,
#chat-txt-message,
#message-input,
.input-room-users-search INPUT,
.sidebar INPUT,
#playlist-input,
.icon-plus,
#player-controller .navigate:hover,
.currentDJ:after,
.dubup:hover,
.dubup.voted,
.browser-content-header INPUT,
#playlists-scroll LI,
.content-videos .timeDisplay{
  background-color: rgb(50, 60, 83) !Important;
}

.queue-info,
.info-counter,
.message-counter,
#chat .room-user-counter,
#avatar A SPAN,
.pusher-chat-widget-send-btn,
#new-messages-counter,
.ui-slider-handle,
.mod:after,
.progressBg,
.add-to-playlist A:hover,
.clear-queue,
.search-btn{
  background-color: rgb(74, 108, 143) !Important;
}

.dubdown:hover,
.dubdown.voted{
  background-color: rgb(255, 45, 49) !important;
}

.message-item.new-message:before,
.creator:after{
  background-color: rgb(180, 201, 222) !important;
}

.content-videos{
  background-image: url(https://mediadubtrackfm.s3.amazonaws.com/assets/images/backgrounds/pattern-stripes.png) !important;
}

#chat-txt-message,
#message-input,
.input-room-users-search INPUT,
#new-message-input,
#playlists-scroll LI,
.sidebar INPUT{
  border-color: rgb(50, 60, 83) !Important;
}

.ui-slider,
#user_popover,
#addToPlaylistFloatContainer{
  border-color: rgb(29, 69, 110) !important;
}

#player-controller DIV LI,
#player-controller .right{
  border-color: rgb(29, 69, 110) !Important;
}

#mobile-room-menu A{
  border-color: rgb(30, 41, 66) !Important;
}
#playlist-input{
  box-shadow: inset -30px 0px 0px 0px rgb(30, 41, 66) !Important;
}
.sidebar INPUT{
  box-shadow: inset -29px 0px 0px 0px rgb(30, 41, 66) !Important;
}

.br-btn.active{
  box-shadow: inset 0px 0px 0px 1px rgb(92, 135, 179) !Important;
}

#chat-txt-message{
  box-shadow: 0px -1px 0px 0px rgb(50, 60, 83) !Important;
}
.browser-content-header INPUT,
.icon-plus{
  box-shadow: 0px 1px 0px 0px rgb(50, 60, 83) !Important;
}

BUTTON:hover{
  box-shadow: inset 0px -2px 0px 0px rgb(74, 108, 143) !Important;
}

BUTTON{
  box-shadow: inset 0px -2px 0px 0px transparent !Important;
}

HEADER .logout BUTTON{
  border-radius: 0px 3px 3px 0px !important;
}

#player-controller .imgEl{
  border-color: transparent !Important;
}

HEADER .relate,
.user-info-button,
.logout BUTTON{
  border-right-color: transparent !Important;
}

.chat_tools,
.pusher-chat-widget-input,
.message-list-wrapper-inner,
.message-list-wrapper,
.message-details,
#main-message-list,
.loadRoomAva,
.input-container,
.input-room-users-search,
.message-list-wrapper,
.playlist-list-action LI,
.browser-content .sidebar,
.browser-content-header
{
  background-color: transparent !Important;
}

.browser-content{
  background-image: none !Important;
}

#addToPlaylistFloatContainer LI,
.browser-content{
  border: none !important;
}
#player-controller .remove-if-banned:nth-child(4){
  border-right: none !Important;
}

*{
  outline-style: none !Important;
}

.image_row:after,
#player-controller .copy,
.playlist-style .ps-scrollbar-y,
.playlist-style .ps-scrollbar-y-rail{
  display: none !Important;
}
