/* Fallout terminal UI v0.6
   ! Requires installation of Monofonto font. Google it.
   ! This is a VERY rough release to show the idea off;
     It is nowhere near complete.
*/
/* Animations */
@keyframes rm {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
    display: none;
  }
}

/* Background colors */
#mobile-room-menu,
#header-global,
#player-controller,
#player-controller .left,
#addToPlaylistFloatContainer{
  background-color: #021002 !Important;
}
.player_header SPAN,
.left_section,
.right_section,
.play-song-link{
  background-color: rgba(2, 16, 2, 0.70) !important;
}
.main-page-container:before{
  background-color: rgba(32, 255, 32, 0.30) !important;
}
.player_header SPAN:hover{
  background-color: rgba(32, 255, 32, 0.70) !important;
}
#mobile-room-menu A:hover,
.ui-slider-handle,
.message-counter,
#player-controller A:hover,
.progressBg,
#addToPlaylistFloatContainer .icon-add:hover,
.icon-close:hover{
  background-color: #2f2 !important;
}
.ui-slider,
.ui-slider-range-min,
#player-controller .right,
#player-controller .voted,
#player-controller .grabbed,
#addToPlaylistFloatContainer .icon-add{
  background-color: transparent !Important;
}

/* Font settings */
  /* Font face */
.main-page-container:before,
INPUT,
OPTION,
BUTTON,
.loading,
#main-loading,
#header-global A,
#header-global .header-right-navigation SPAN:not(.icon-message),
#mobile-room-menu *,
#room-list *:not(.icon-search):not(.icon-people),
#roomFormUpdate *:not(.icon-close),
.player_header SPAN,
#main_player H5,
.videoquality-el,
.play-song-link,
.left_section DIV DIV:not(SECTION) DIV :not(SPAN) *:not(I),
.display-room-users.icon-people I,
.right_section LI *:not(.icon-close),
#chat :not(.chat_tools) *:not(.icon-close):not(.icon-camera):not(I),
.right_section LI *:after,
#new-messages-counter,
.chat-options *:not(I),
#main-menu-left *:not(.icon-close):not(SPAN),
#main-menu-right *:not(.icon-close),
#player-controller *:not(SPAN),
#addToPlaylistFloatContainer *:not(.icon-close):not(.icon-add),
#playlists-scroll *:not(SPAN),
#browser .title,
#browser .text-button,
#browser LI *:not(SPAN),
.timeDisplay,
#browser DIV DIV DIV DIV,
#profileMainSection *:not(.icon-close),
#warning *{
  font-family: Monofonto !Important;
  font-weight: 400 !important;
}
  /* Global settings */
*{
  color: #2f2 !Important;
  opacity: 1 !important;
  text-shadow: 0px 0px 3px #2f2 !important;
  border-radius: 0px !Important;
  border: none !Important;
}
.icon-heart:before{
  color: #2f2 !Important;
}
  /* Highlighted */
#mobile-room-menu A:hover,
.message-counter,
.player_header SPAN:hover,
#player-controller A:hover SPAN,
#player-controller A:hover .icon-heart:before,
#addToPlaylistFloatContainer .icon-add:hover,
.icon-close:hover{
  color: #012001 !Important;
  text-shadow: 0px 0px 3px #012001 !important;
}
  /* De-italicize */
INPUT,
.current-song,
#chat *{
  font-style: normal !Important;
}

/* Fancy glowing borders */
.message-counter,
.ui-slider-handle,
.progressBg{
  box-shadow: 0px 0px 4px 1px rgba(32, 255, 23, 0.30) !important;
}

#player-controller .right{
  z-index: 1 !Important;
}

.player_header SPAN.active,
.player_header SPAN:hover,
#player-controller .voted,
#player-controller .grabbed,
#player-controller A:hover,
.ui-slider-range-min:before{
  box-shadow: inset 0px 0px 0px 1px #2f2,
              inset 0px 0px 4px 1px rgba(32, 255, 32, 0.30),
              0px 0px 3px 1px rgba(32, 255, 32, 0.30);
}

#mobile-room-menu A.active,
#mobile-room-menu A:hover{
  box-shadow: inset 1px 0px 0px 0px #2f2,
              inset 1px 0px 4px 0px rgba(32, 255, 23, 0.30),
                    -1px 0px 3px 0px rgba(32, 255, 23, 0.30),
              inset 0px -1px 0px 0px #2f2,
              inset 0px -1px 4px 0px rgba(32, 255, 23, 0.30),
                    0px 1px 3px 0px rgba(32, 255, 23, 0.30),
              inset -1px 0px 0px 0px #2f2,
              inset -1px 0px 4px 0px rgba(32, 255, 23, 0.30),
                    1px 0px 3px 0px rgba(32, 255, 23, 0.30);
}

/* Some padding to make things look neat */
.icon-close{
  padding: 3px !Important;
}

/* Position and size */
#volume-div{
  width: 80px !Important;
  margin-left: 15px !Important;
  top: -4px !important;
}
.ui-slider{
  height: 13px !Important;
}
.ui-slider-handle{
  top: -4px !Important;
  width: 4px !Important;
  height: 21px !Important;
  margin-left: -2px !Important;
}

/* Pseudochildren */
  /* Message */
.main-page-container:before{
  content: 'Immediate front-end\a nearly complete.\a\a Problems? View the sheet.\a\a FallOut Theme green v0.6\a\a This message will disappear\a in 60 seconds.';
  width: auto;
  height: auto;
  white-space: pre-wrap;
  position: absolute;
  padding: 4px;
  animation: rm 0s ease 60s forwards;
}
  /* Volume */
    /* Triangles */
      /* Global */
.ui-slider:before,
.ui-slider:after{
  width: 0px !Important;
  height: 0px !Important;
  position: absolute !Important;
  top: -5px !Important;
  transform: scalex(0.70) !Important;
}     /* Left */
.ui-slider:before{
  content: '\25c0';
  left: -11px !important;
}     /* Right */
.ui-slider:after{
  content: '\25b6';
  right: -1px !important;
}
    /* Slider */
.ui-slider-range-min:before{
  content: '';
  width: calc(100% + 6px);
  height: 13px;
  position: absolute;
  top: 0px;
  left: -3px;
}
  /* Faux borders */
    /* Global */
#header-global:before,
.pusher-chat-widget-input:before,
.infoContainerInner:before,
#player-controller .left:before,
#player-controller .right:before{
  content: '';
  width: 100%;
  height: 7px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to bottom,
                              transparent 0px,
                              rgba(32, 255, 32, 0.30) 4px,
                              transparent 7px),
              linear-gradient(to bottom,
                              transparent 3px,
                              #2f2 4px,
                              transparent 4px,
                              transparent 5px);
}
    /* Top */
#player-controller .left:before,
.pusher-chat-widget-input:before{
  top: -3px !Important;
}
    /* Bottom */
#header-global:before,
.infoContainerInner:before,
#player-controller .right:before{
  bottom: -3px !Important;
}

.spinner{
  display: none !Important;
