/* Fallout terminal UI v0.81
   ! Requires installation of Monofonto font. Google it.
   ! The code's a right mess at the moment because of
     the major complexity chat options presented.
*/

/* Import for Better Chat Lite */
@import url("https://hebgbs.github.io/betterchatlite.css"); 

/* Animations */
@keyframes rm{
  0% {
    width: initial;
    height: initial;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}

/* Background colors */
  /* Bright */
#mobile-room-menu A:hover,
.ui-slider-handle,
.message-counter,
.videoquality-el:hover,
#new-messages-counter:hover,
.avatar-list .username:after,
.chat-option-buttons-sound SPAN:hover,
#player-controller A:hover,
.progressBg,
#addToPlaylistFloatContainer .icon-add:hover,
.icon-close:hover,
#warning BUTTON:hover{
  background-color: rgb(32, 255, 32) !important;
}
.player_header SPAN:hover,
.play-song-link:hover{
  background-color: rgba(32, 255, 32, 0.70) !important;
}
.main-page-container:before{
  background-color: rgba(32, 255, 32, 0.30) !important;
}
  /* Dark */
#mobile-room-menu,
#main-menu-left,
#main-menu-right,
#header-global,
#new-messages-counter,
#player-controller,
#player-controller .left,
#addToPlaylistFloatContainer,
#warning{
  background-color: rgb(2, 16, 2) !Important;
}
.player_header SPAN,
#main_player,
.right_section,
.play-song-link{
  background-color: rgba(2, 16, 2, 0.70) !important;
}
  /* Disappear */
.ui-slider,
.ui-slider-range-min,
#player-controller .right,
#player-controller .voted,
#player-controller .grabbed,
#addToPlaylistFloatContainer .icon-add{
  background-color: transparent !Important;
}

/* Font settings */
  /* Font face */
.main-page-container:before,
INPUT,
OPTION,
BUTTON,
.loading,
#main-loading,
#header-global A,
#header-global .header-right-navigation SPAN:not(.icon-message),
#mobile-room-menu *,
#room-list .room-item *:not(.icon-people),
.create-room,
#roomFormUpdate *:not(.icon-close),
.player_header SPAN,
#main_player H5,
.videoquality-el,
.play-song-link,
.left_section DIV DIV:not(SECTION) DIV :not(SPAN) *:not(.icon-play),
.display-room-users.icon-people I,
.right_section LI *:not(.icon-close),
#chat :not(.chat_tools) *:not(.icon-close):not(.icon-camera):not(I),
.right_section LI *:after,
#new-messages-counter,
.chat-options *:not(I),
#main-menu-left *:not(.icon-close):not(SPAN),
#main-menu-right *:not(.icon-close),
#player-controller *:not(SPAN),
#addToPlaylistFloatContainer *:not(.icon-close):not(.icon-add),
#playlists-scroll *:not(SPAN),
#browser .title,
#browser .text-button,
#browser LI *:not(SPAN),
.timeDisplay,
#browser DIV DIV DIV DIV,
#profileMainSection *:not(.icon-close),
#warning *{
  font-family: Monofonto !Important;
  font-weight: 400 !important;
}
  /* Global settings */
*{
  color: rgb(32, 255, 32) !Important;
  opacity: 1 !important;
  text-shadow: 0px 0px 3px rgb(32, 255, 32) !important;
  border-radius: 0px !Important;
}
.icon-heart:before,
#chat .chat-options .chat-option-buttons-sound SPAN.active{
  color: rgb(32, 255, 32) !Important;
}
.header-right-navigation .for IMG{
  width: 0px !Important;
  height: 0px !Important;
  padding-left: 21px !Important;
  padding-top: 21px !Important;
  /* ! This should match text colour and have blur, should come soon */
  background-image: url(https://hebgbs.github.io/paramsGreen.svg) !Important;
}
  /* Highlighted */
#mobile-room-menu A:hover,
.message-counter,
.player_header SPAN:hover,
.videoquality-el:hover,
.play-song-link:hover,
.play-song-link:hover *,
#new-messages-counter:hover SPAN,
.avatar-list .username:after,
.chat-option-buttons-sound SPAN:hover,
.chat-option-buttons-sound SPAN:hover *,
#chat .chat-options .chat-option-buttons-sound SPAN.active:hover,
#player-controller A:hover SPAN,
#player-controller A:hover .icon-heart:before,
#addToPlaylistFloatContainer .icon-add:hover,
.icon-close:hover,
#warning BUTTON:hover{
  color: #012001 !Important;
  text-shadow: 0px 0px 3px #012001 !important;
}
  /* De-italicize */
INPUT,
.current-song,
#chat *{
  font-style: normal !Important;
}

/* Position and size */
.icon-close{
  padding: 3px !Important;
}

.chatDelete{
  margin-top: 3px !Important;
}

#volume-div{
  margin-left: 6px !Important;
  top: -5px !important;
}
.ui-slider,
.ui-slider-range-min{
  height: 15px !Important;
}
.ui-slider-handle{
  top: -4px !Important;
  width: 4px !Important;
  height: 21px !Important;
  margin-left: -2px !Important;
}

.videoquality-el,
.avatar-list .username:after{
  padding-left: 7px !important;
  padding-right: 6px !Important;
}

/* Fancy glowing borders */
#mobile-room-menu .player-button,
#room-list .room-search,
.pusher-chat-widget-input,
.chat_tools,
.chat-options *,
INPUT{
  border-color: rgb(32, 255, 32) !important;
}

.message-counter,
#new-messages-counter,
.ui-slider,
#player-controller A.voted,
#player-controller A.grabbed,
#player-controller A:hover,
#warning BUTTON{
  border: 1px solid rgb(32, 255, 32) !important;
}

#main-menu-left{
  border-right: 1px solid rgb(32, 255, 32);
}

#main-menu-right{
  border-left: 1px solid rgb(32, 255, 32);
}

.room-item HEADER,
.room-item .current-song,
#player-controller .left,
#player-controller .right
{
  border-top: 1px solid rgb(32, 255, 32) !important;
}

#header-global,
#mobile-room-menu,
.avatar_tools{
  border-bottom: 1px solid rgb(32, 255, 32) !important;
}

#player-controller A.voted,
#player-controller A.grabbed,
#player-controller A:hover{
  border-top: none !Important;
}

#chat .chat-options .chat-option-buttons-sound *:not(.active){
  border-bottom-color: transparent !Important;
  border-right-color: transparent !Important;
}

#player-controller .right{
  z-index: 1 !Important;
}

.message-counter,
#new-messages-counter,
.ui-slider,
.progressBg,
.avatar-list .username:after,
#warning BUTTON{
  box-shadow: 0px 0px 4px 1px rgba(32, 255, 23, 0.30),
              inset 0px 0px 4px 1px rgba(32, 255, 23, 0.30) !important;
}

.player_header SPAN.active,
.player_header SPAN:hover,
.ui-slider-handle,
.videoquality-el.active-hd,
.videoquality-el:hover{
  box-shadow: inset 0px 0px 0px 1px rgb(32, 255, 32),
              0px 0px 3px 1px rgba(32, 255, 23, 0.30),
              inset 0px 0px 4px 1px rgba(32, 255, 23, 0.30) !important;
}

#main_player,
.play-song-link,
.right_section{
  box-shadow: inset 0px 0px 0px 1px rgb(32, 255, 32),
              inset 0px 0px 4px 1px rgba(32, 255, 32, 0.30),
              0px 0px 3px 1px rgba(32, 255, 32, 0.30);
}

#chat .chat-options .chat-option-buttons-sound .setMentionChatNotifications.active,
#chat .chat-options .chat-option-buttons-sound .setMentionChatNotifications:hover,
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications.active,
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications:hover{
  box-shadow: -1px 0px 0px 0px rgb(32, 255, 32);
}

/* Pseudochildren */
  /* Border accents */
    /* Horizontal */
#header-global:after,
#mobile-room-menu:after,
.room-lobby-header:after,
.room-item HEADER:before,
.room-item .current-song:before,
.chat_tools:after,
.input-room-users-search:after,
.chat-option-header:first-child:after,
.chat-option-buttons-display SPAN:nth-child(2):after,
.chat-option-header:nth-child(3):after,
#chat .chat-options .chat-option-buttons-sound .setOnChatNotifications.active:after,
#chat .chat-options .chat-option-buttons-sound .setOnChatNotifications:hover:after,
#chat .chat-options .chat-option-buttons-sound .setMentionChatNotifications.active:after,
#chat .chat-options .chat-option-buttons-sound .setMentionChatNotifications:hover:after,
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications.active:after,
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications:hover:after,
.pusher-chat-widget-input:before,
#player-controller .left .cursor-pointer:before,
.infoContainerInner:before,
#player-controller .right:before{
  content: '';
  height: 7px;
  width: 100%;
  position: absolute;
  left: 0px;
  background: linear-gradient(to bottom,
                              transparent 0px,
                              rgba(32, 255, 32, 0.30) 4px,
                              transparent 7px);
  pointer-events: none;
}
      /* Top */
.pusher-chat-widget-input:before,
#player-controller .left .imgEl:before,
.infoContainerInner:before,
#player-controller .right:before{
  top: -4px !Important;
}
.room-item HEADER:before{
  bottom: 111px;
}
.room-item .current-song:before{
  bottom: 33px;
}
#chat .chat-options .chat-option-buttons-sound .setOnChatNotifications.active:after,
#chat .chat-options .chat-option-buttons-sound .setOnChatNotifications:hover:after,
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications.active:after,
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications:hover:after{
  width: calc(33% + 0.50%) !Important;
}
#chat .chat-options .chat-option-buttons-sound .setMentionChatNotifications.active:after,
#chat .chat-options .chat-option-buttons-sound .setMentionChatNotifications:hover:after{
  width: calc(33% + 1%) !Important;
  left: 33% !important;
}
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications.active:after,
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications:hover:after{
  width: calc(33% + 1.5%) !Important;
  left: 66% !Important;
}
      /* Bottom */
#header-global:after,
#mobile-room-menu:after,
.room-lobby-header:after,
.chat_tools:after,
.input-room-users-search:after,
.chat-option-header:first-child:after,
.chat-option-buttons-display SPAN:nth-child(2):after,
.chat-option-header:nth-child(3):after{
  bottom: -4px;
}
#chat .chat-options .chat-option-buttons-sound .setOnChatNotifications.active:after,
#chat .chat-options .chat-option-buttons-sound .setOnChatNotifications:hover:after,
#chat .chat-options .chat-option-buttons-sound .setMentionChatNotifications.active:after,
#chat .chat-options .chat-option-buttons-sound .setMentionChatNotifications:hover:after,
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications.active:after,
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications:hover:after{
  bottom: -3px !Important;
}
    /* Vertical */          
#mobile-room-menu .player-button:after,
#room-list .room-search:before,
#main-menu-left:after,
#main-menu-right:before,
.chat-option-buttons-display SPAN:first-child:after,
#chat .chat-options .chat-option-buttons-sound .setOnChatNotifications.active:before,
#chat .chat-options .chat-option-buttons-sound .setOnChatNotifications:hover:before,
#chat .chat-options .chat-option-buttons-sound .setMentionChatNotifications.active:before,
#chat .chat-options .chat-option-buttons-sound .setMentionChatNotifications:hover:before,
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications.active:before,
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications:hover:before{
  content: '';
  width: 7px;
  height: 100%;
  position: absolute;
  top: 0px;
  background: linear-gradient(to right,
                              transparent 0px,
                              rgba(32, 255, 32, 0.30) 4px,
                              transparent 7px);
  pointer-events: none;
}
      /* Left */
#main-menu-right:before{
  left: -4px !Important;
}
#chat .chat-options .chat-option-buttons-sound .setOnChatNotifications.active:before,
#chat .chat-options .chat-option-buttons-sound .setOnChatNotifications:hover:before{
  left: calc(33% - 0.50%) !Important;
}
      /* Middle */
#mobile-room-menu .player-button:after{
  left: calc(50% - 4px);
}
#chat .chat-options .chat-option-buttons-sound .setMentionChatNotifications.active:before,
#chat .chat-options .chat-option-buttons-sound .setMentionChatNotifications:hover:before{
  width: calc(33% + 1.75%) !important;
  left: calc(33% - 0.50%);
  background: linear-gradient(to left,
                              transparent 0%,
                              rgba(32, 255, 32, 0.30) 4px,
                              transparent 7px,
                              transparent calc(100% - 7px),
                              rgba(32, 255, 32, 0.30) calc(100% - 4px),
                              transparent 100%);
}
      /* Right */
#main-menu-left:after,
#room-list .room-search:before{
  right: -4px;
}
.chat-option-buttons-display SPAN:first-child:after{
  right: calc(50% - 3px);
}
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications.active:before,
#chat .chat-options .chat-option-buttons-sound .setOffChatNotifications:hover:before{
  right: calc(33% - 0.35%) !Important;
}
      
  /* Message */
/*.main-page-container:before{
  content: 'FallOut Theme green v0.80 | This message should disappear in 60 seconds.';
  white-space: pre-wrap;
  position: absolute;
  bottom: calc(0px + 56px);
  padding: 4px;

  animation-fill-mode: forwards;
  animation-name: rm;
  animation-duration: 0s;
  animation-delay: 60s;
}*/
  /* Volume */
    /* Triangles */
      /* Global */
.ui-slider:before,
.ui-slider:after{
  width: 0px !Important;
  height: 0px !Important;
  position: absolute !Important;
  top: -5px !Important;
  transform: scalex(0.70) !Important;
}     /* Left */
.ui-slider:before{
  content: '\25c0';
  left: -10px !important;
}     /* Right */
.ui-slider:after{
  content: '\25b6';
  right: 0px !important;
}

.spinner{
  display: none !Important;
}
