/* JS extensions */
#user-settings .ext-plug .item span{
  color: rgb(180, 201, 222) !Important;
} /* Disabled */
#user-settings .ext-plug .item:not(.selected) span{
  opacity: 0.75 !Important;
}

/* Vote */
  /* icons */
.cm .badge-box .icon.icon-woot,
.cm .badge-box .icon.icon-grab,
.cm .badge-box .icon.icon-meh,
.cm.extplug-user-join .badge-box i,
.cm.extplug-user-leave .badge-box i,
.cm.extplug-friend-join .badge-box span,
.cm.extplug-friend-leave .badge-box span{
  background-image: url(file:///media/ExtStore/themescript.github.io/images/cmix_icons.png) !important;
  background-size: 270px 480px !Important;
}
.cm .badge-box .icon.icon-woot{
  background-position: -90px -60px !Important;
}
.cm .badge-box .icon.icon-grab{
  background-position: -120px 0px !Important;
}
.cm .badge-box .icon.icon-meh{
  background-position: -90px -30px !Important;
} /* Text */
.cm.extplug-woot .text{
  color: rgb(74, 108, 143) !important;
}
.cm.extplug-grab .text{
  color: rgb(92, 135, 179) !important;
}
.cm.extplug-meh .text{
  color: rgb(255, 45, 49) !important;
}

/* Other chat mentions */
.cm.extplug-user-join .badge-box i{
  background-position: -240px -240px !Important;
}
.cm.extplug-user-leave .badge-box i{
  background-position: -240px -270px !Important;
}
.cm.extplug-friend-join .badge-box span{
  background-position: -247px -307px !Important;
}
.cm.extplug-friend-leave .badge-box span{
  background-position: -247px -337px !Important;
}

/* Buttons */
#user-settings .ext-plug button{
  background-color: rgb(50, 60, 83) !important;
} /* Left */
#user-settings .ext-plug .left button:hover{
  color: rgb(180, 201, 222) !Important;
  background-color: rgb(92, 135, 179) !important;
} /* Right */
#user-settings .ext-plug .right button:hover{
  color: rgb(255, 255, 255) !important;
  background-color: rgb(255, 45, 49) !important;
}

/* Highlight */
#chat-messages .extplug-deleted:hover{
  opacity: 1 !Important;
}
#chat-messages .extplug-deleted:hover,
#chat-messages .extplug-deleted:not(:hover){
  transition: 0.2s !Important;
}
