/* Global font weight (except for dropdown) */
  /* ! Remove any of the :not tokens
       to also affect those elements
  */
*:not(SELECT):not(OPTION){
  font-weight: 200 !important;
  letter-spacing: 0.2px !Important;
}
  /* Exceptions */
.videoquality-el{
  font-weight: 700 !Important;
}
    /* Browser dropdown letter spacing fix */
.icon-arrow-dropdown{
  letter-spacing: 0px !Important;
}

/* Inport button fix */
  /* Make entire button's font proxima nova
     (or sans-serif default if not installed)
  */
SPAN.import-playlist.icon-inbox{
  font-family: proxima nova, sans-serif !Important;
}
  /* Make button icon use Dubtrack's icon font */
SPAN.import-playlist.icon-inbox:before{
  font-family: icomoon !Important;
}
