/* This style was created to enhance the place number objects
   inside of the media browser. This simulates some old design
   concepts I used for the user count in the lobby list when
   it use to be at the corner of every lobby. */

/* Row count position */
#browser .place{
  color: #000 !Important;
  margin: 0px !Important;
  /* Thumbnail overlay; minimal values assume if
     pseudochild position values (psx / psy) are zero. */
  left: 19px !important; /* 16px + (psx * -1) */
  top: 10px !Important; /* 8px + (psy * -1) */
  text-align: left !Important;
  font-weight: bold !Important;
  z-index: 1 !Important;
}

/* Pseudochild for fake earmark / overlay */
#browser .place:before{
  content: '';
  position: absolute;
  /* Offsets for font position; Add inverse
     values to position in #browser .place */
  left /* psx */: -3px;
  top /* psy */: -2px;
  /* Both size integers must match for intended effect;
     this draws the triangle over each thumbnail. */
  /*mixer*/ /*border-top: 36px rgba(74, 108, 143, 0.70) solid !Important;*/
  border-top: 31px rgba(0, 255, 255, 0.70) solid !Important;
  border-right: 31px transparent solid !Important;
  z-index: -1 !Important;
}
