/*//META{"name":"Transparent CSS editor","description":"Allows users to see through the editor for use of observing text and video underneath it. Best with Zerebos' ResizableCSS plugin.","author":"Hebgbs","version":"1.0"}*//**/

/* === Preface ===
   The intention of this style is to permit use of the editor while
   seeing content underneath. No filter tricks, no nonsense, simply
   an editor you can see through. Intended for use with Zerebos'
   ResizableCSS plugin, which permits scalng editor to preference.
   
   === Function summary ===
   Two methods are used to make the editor see-through —
      1) Pellucid background colours to see underneath while using
         the Custom CSS feature detached from settings
      2) Opacity for the entire element when not actively using it

   Becaause of how this feature is modified, users can see beneath
   to read chats and observe video underneath the Custom CSS editor,
   which means users can use the service with less inhibition than
   they would otherwise having the editor remain entirely opaque.
*/
   
/* Root block — define alpha here */
:root {
    --bdcss-normal-o: 0.35;
}

/* Subvert default attached editor width */
.app-2rEoOp {
    width: 100% !Important;
}
/* Put editor above title */
.wrapper-1Rf91z,
.container-2Rl01u {
    z-index: 1 !important;
}
#bd-customcss-detach-container {
    z-index: 2 !Important;
}
/* Editor colours — Uses defaults with alpha */
#bd-customcss-detach-container { /* Make see-through, define ani */
    background-color: transparent !Important;
    transition: opacity ease 0.2s;
}   /* Left side */
.ace_gutter {
    background-color:rgba(47, 49, 41, var(--bdcss-normal-o)) !important;
}
.ace_gutter-active-line {
    background-color: rgba(39, 39, 39, var(--bdcss-normal-o)) !important;
}   /* Right side */
.ace_editor {
    background-color: rgba(39, 40, 34, var(--bdcss-normal-o)) !Important;
}
.ace_active-line {
    background-color: rgba(32, 32, 32, var(--bdcss-normal-o)) !important;
}   /* BD controls */
#bd-customcss-attach-controls {
    background-color: rgba(39, 40, 34, var(--bdcss-normal-o)) !important;
}
/* Make editor less opaque when not hover */
#bd-customcss-detach-container:not(:hover) {
    opacity: var(--bdcss-normal-o) !Important;
    transition-delay: 0.1s; /* Resize fix */
}
