/* Import for "Auto-hiding horizontal guild list and chat sidebar"
   This permits for changes to be made per-theme in the future. */

/* ################################################
   # Guild bar and sidebar hiding script, for use #
   #   with Gibbu's Horizontal Serverlist theme   #
   ################################################

            === Variable configuration === */
:root {
    /* Define Animation timing: See N1 */
    --autohide_duration: 0.2s;
    --autohide_delay: 0s; /* See N2 */
    /* Define size on state: See N1 */
    --sidebar_hover: 240px;
    --autohide_size: 5px;
    /* Define value to sum with default: See N3 */
    --guildpill_normal: 0px; /* See N4 */
    --guildpill_hover: 0px; /* See N4 */
    --sidebar_padfix: 0px; /* See N5 */
} /*
                === Variable notes ===
N1: Absolute definition. What you set is what you get.
N2: If use causes disorientation, define this.
N3: Relative dfinition for sum of [x] + default;
    Define [x] to set total value rather than absolute.
N4: Change if theme makes unread pill hard to see.
N5: Change if voiceuser or "+" symbol is not where it
    should be compared to defintion in theme.
           === Additional notes above EOF ===
*/

         /* === Autohide for guild bar === */
/* Flip unread pill */
.pill-2uzAFe,
.pill-31IEus,
.pill-1m5BUr {
    transform: scaley(-1);
}
/* Position pill on guild bar state */
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) .pill-2uzAFe,
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) .pill-31IEus,
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) .pill-1m5BUr {
    margin-top: calc(1px + var(--guildpill_normal));
}
.wrapper-1Rf91z.guilds-1SWlCJ:hover .pill-2uzAFe,
.wrapper-1Rf91z.guilds-1SWlCJ:hover .pill-31IEus,
.wrapper-1Rf91z.guilds-1SWlCJ:hover .pill-1m5BUr {
    margin-top: calc(50px + var(--guildpill_hover));
}
/* Scale on guild bar state */
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) {
    height: 5px !important;
}
.wrapper-1Rf91z.guilds-1SWlCJ:hover {
    height: 54px !important;
}
          /* === Autohide for sidebar === */
/* Make sidebar independent */
.sidebar-2K8pFh {
    position: absolute;
    height: 100%;
    z-index: 101;
}
/* Flip sidebar elements: See N6 (above EOF) */
.sidebar-2K8pFh .scroller-2wx7Hm,
.sidebar-2K8pFh .scroller-2FKFPG,
    /* & all elements therein */
.sidebar-2K8pFh .content-3at_AU,
.sidebar-2K8pFh .content-3xS9Lh,
.sidebar-2K8pFh .containerDefault-3GGEv_,
.sidebar-2K8pFh .scroller-2FKFPG .header-zu8eWb,
.sidebar-2K8pFh .scroller-2FKFPG .container-2Pjhx-,
        /* Padded element fix */
.sidebar-2K8pFh .list-2bwCXU,
.sidebar-2K8pFh .list-19h6Fv .voiceUser-14U_Ns {
    transform: scalex(-1);
}
.sidebar-2K8pFh SVG[name="PlusAlt"],
.sidebar-2K8pFh .list-19h6Fv .voiceUser-14U_Ns {
    margin-left: calc(-8px + var(--sidebar_padfix));
}

/* Position on sidebar state */
.sidebar-2K8pFh:not(:hover) {
    left: calc((var(--sidebar_hover) - var(--autohide_size)) * -1);
}
.sidebar-2K8pFh:hover {
    left: 0px !important;
}

            /* === Animate elements === */
.sidebar-2K8pFh,
.pill-2uzAFe,
.pill-31IEus,
.pill-1m5BUr,
.wrapper-1Rf91z.guilds-1SWlCJ {
    transition: ease var(--autohide_duration) var(--autohide_delay);
}

        /* === Lazy fix for DM scroller === */
/* See N7  */
.sidebar-2K8pFh .privateChannels-1nO12o:after {
    transform: scalex(-1);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--autohide_width);
    height: 100%;
} /*
               /* === Code notes ===
N6: This puts the channel unread pills to the
    right for end-users to see unread posts.
N7: Since the sidebar scroller is flipped,
    left side is otherwise hard to grab.
*//* ### EOF ### */
