/* Import for "Auto-hiding horizontal guild list and chat sidebar"
   This permits for changes to be made per-theme in the future. */

/* === Guild bar === */
/* Flip unread pill */
.pill-2uzAFe,
.pill-31IEus,
.pill-1m5BUr {
    transform: scaley(-1);
}
/* Position pill on guild bar state */
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) .pill-2uzAFe,
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) .pill-31IEus,
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) .pill-1m5BUr {
    margin-top: var(--guildpill_normal);
}
.wrapper-1Rf91z.guilds-1SWlCJ:hover .pill-2uzAFe,
.wrapper-1Rf91z.guilds-1SWlCJ:hover .pill-31IEus,
.wrapper-1Rf91z.guilds-1SWlCJ:hover .pill-1m5BUr {
    margin-top: var(--guildpill_hover);
}
/* Scale on guild bar state */
.wrapper-1Rf91z.guilds-1SWlCJ:not(:hover) {
    height: 5px !important;
}
.wrapper-1Rf91z.guilds-1SWlCJ:hover {
    height: 54px !important;
}
/* === Autohide for channel list === */
/* Make sidebar independent */
.sidebar-2K8pFh {
    position: absolute;
    height: 100%;
    z-index: 101;
}
/* Flip sidebar elements */
/* N: This puts the channel unread pills to the
      right for end-users to see unread posts. */
.sidebar-2K8pFh .scroller-2wx7Hm,
.sidebar-2K8pFh .scroller-2FKFPG,
    /* & all elements therein */
.sidebar-2K8pFh .content-3at_AU,
.sidebar-2K8pFh .content-3xS9Lh,
.sidebar-2K8pFh .containerDefault-3GGEv_,
.sidebar-2K8pFh .scroller-2FKFPG .header-zu8eWb,
.sidebar-2K8pFh .scroller-2FKFPG .container-2Pjhx- {
    transform: scalex(-1);
}
/* Fix display for flipped elements */
.sidebar-2K8pFh .list-2bwCXU {
    padding-left: 0px !Important;
    padding-right: var(--sidebar_user); 
}
.sidebar-2K8pFh .scroller-2FKFPG .header-zu8eWb {
    padding-left: 8px !Important;
    padding-right: 18px !Important;
}

/* Position on sidebar state */
.sidebar-2K8pFh:not(:hover) {
    left: calc((var(--sidebar_hover) - var(--autohide_size)) * -1);
}
.sidebar-2K8pFh:hover {
    left: 0px !important;
}

/* === Animate hidden elements === */
.sidebar-2K8pFh,
.pill-2uzAFe,
.pill-31IEus,
.pill-1m5BUr,
.wrapper-1Rf91z.guilds-1SWlCJ {
    transition: ease var(--autohide_duration) var(--autohide_delay);
}

/* ===Lazy fix for sidebar in DMs */
/* N: Since the sidebar scroller is flipped,
      left side is otherwise hard to grab. */
.sidebar-2K8pFh .privateChannels-1nO12o:after {
    transform: scalex(-1);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--autohide_width);
    height: 100%;
}
/* ### EOF ### */
