/* Default element properties */
.sidebar-2K8pFh .list-2bwCXU .voiceUser-14U_Ns .content-3xS9Lh .username-lm8y6T:after {
    position: absolute;
    content: '';
    top: var(--CUI-miniVoiceY);
    right: var(--CUI-miniVoiceX);
    width: var(--CUI-miniVoiceW);
    height: var(--CUI-miniVoiceH);
    border-radius: var(--CUI-miniVoiceR);
    transition: opacity ease 0.2s; /* Keeps user state transition snappy. */
}
/* Sidebar interaction */
.sidebar-2K8pFh:not(:hover) .list-2bwCXU .voiceUser-14U_Ns .content-3xS9Lh .username-lm8y6T:after {
    opacity: 1;
}
.sidebar-2K8pFh:hover .list-2bwCXU .voiceUser-14U_Ns .content-3xS9Lh .username-lm8y6T:after {
    opacity: 0;
}
/* Voice interaction */
.sidebar-2K8pFh .list-2bwCXU .voiceUser-14U_Ns .content-3xS9Lh .username-lm8y6T:after {
    background-color: var(--CUI-miniVoiceQ);
}
.sidebar-2K8pFh .list-2bwCXU .voiceUser-14U_Ns .content-3xS9Lh .username-lm8y6T.usernameSpeaking-2xbKKh:after {
    background-color: var(--CUI-miniVoiceL);
}

/* CC0 2020 | Original work by Brandon "Hebgbs" Bachman | EOF */
