/* !!! OBSOLETED CODE

Collapsible sidebar. This is universal and will
find its way into all collapsible UI iterations. */

/* Scale sidebar to preference */
.sidebar-2K8pFh {
    width: var(--CUI-sideSize);
}
/* Flip sidebar elements: See N7 (above EOF) */
.sidebar-2K8pFh .scroller-2wx7Hm,
.sidebar-2K8pFh .scroller-2FKFPG,
    /* & all elements therein: See N8 */
.sidebar-2K8pFh .content-3at_AU,
.sidebar-2K8pFh .content-3xS9Lh,
.sidebar-2K8pFh .containerDefault-3GGEv_,
.sidebar-2K8pFh .scroller-2FKFPG .header-zu8eWb,
.sidebar-2K8pFh .scroller-2FKFPG .container-2Pjhx-,
.sidebar-2K8pFh .list-2bwCXU,
.sidebar-2K8pFh .list-19h6Fv .voiceUser-14U_Ns {
    transform: scalex(-1);
}
        /* Padded element fix */
.sidebar-2K8pFh SVG[name="PlusAlt"],
.sidebar-2K8pFh .list-19h6Fv .voiceUser-14U_Ns {
    margin-left: calc(-8px + var(--CUI-sidePadfix));
}
/* Position on sidebar state */
.sidebar-2K8pFh:not(:hover) {
    left: calc((var(--CUI-sideSize) - var(--CUI-collapseSize)) * -1);
}
.sidebar-2K8pFh:hover {
    left: 0px !important;
}

/* CC0 2020 | Original work by Brandon "Hebgbs" Bachman | EOF */

