/* ___      ___      ___   
  /\  \    /\__\    /\  \  
 /::\  \  /:/ _/_  _\:\  \ 
/:/\:\__\/:/_/\__\/\/::\__\
\:\ \/__/\:\/:/  /\::/\/__/
 \:\__\   \::/  /  \:\__\  
  \/__/    \/__/    \/__/

Horizontal serverlist by Gibbu is required for
this script to be useful. For this import to
work, it should integrate Gibbu's code. */

/* Scale guild bar to preference */
.wrapper-1Rf91z.guilds-1SWlCJ {
    height: var(--CUI-guildSize) !Important;
}
/* Scale lower elements for UX */
.sidebar-2K8pFh .header-2o-2hj,
.chat-3bRxxu .title-3qD0b- {
    height: 54px !Important;
}
/* Flip unread pill */
.pill-2uzAFe,
.pill-31IEus,
.pill-1m5BUr {
    transform: scaley(-1);
    margin-top: calc(51px + var(--CUI-pillAdjust))
}
/* Move on guild bar state */
.wrapper-1Rf91z:not(:hover).guilds-1SWlCJ {
    top: calc((var(--CUI-guildSize) - var(--CUI-collapseSize)) * -1);
}
.wrapper-1Rf91z:hover.guilds-1SWlCJ,
.wrapper-1Rf91z.guilds-1SWlCJ.content-Pph8t6.foldercontent {
    top: 0px;
}

/* CC0 2020 | Original work by Brandon "Hebgbs" Bachman | EOF */
