/* Make video transparent when cursor is off */
.pictureInPicture-3VocJq:not(:hover) .video-1kutKI,
.pictureInPictureWindow-1B5qSe:not(:hover) .videoBackgroundTransition-3wpOSl {
    opacity: 0.50 !important;
}
.pictureInPicture-3VocJq:hover .video-1kutKI,
.pictureInPictureWindow-1B5qSe:hover .videoBackgroundTransition-3wpOSl {
    opacity: 1 !important;
}
/* Make PiP transparent */
.pictureInPicture-3VocJq .miniPlayer-3Ms77e,
.pictureInPicture-3VocJq .miniPlayer-3Ms77e .video-1kutKI,
.pictureInPictureWindow-1B5qSe .pictureInPictureVideo-20ZvXn {
    background-color: transparent !important;
}
/* Remove stuff from PiP controls */
.pictureInPicture-3VocJq .videoControls-3glNbo {
    background-image: none;
}
 .pictureInPictureVideo-20ZvXn .overlay-1NmNEg {
    box-shadow: none !Important;
}
/* Remove useless indicators */
.pictureInPicture-3VocJq .liveIconMiniPlayer-2SgWDN {
    display: none;
}
/* Remove cursor if idle is true */
.pictureInPicture-3VocJq .wrapper-3BjWyg .idle-PzGM-g {
    cursor: none;
}
/* Make effect pretty */
.pictureInPicture-3VocJq .video-1kutKI,
.pictureInPictureWindow-1B5qSe .videoBackgroundTransition-3wpOSl {
    transition: ease 0.2s !important;
}

/* CC0 2020 | Original work by Brandon "Hebgbs" Bachman | EOF */
